.details {
	width: 430px;
	margin: 60px 0;
}

.details h2 {
	margin-bottom: 40px;
}

.details .detail {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.details .detail:last-child {
	margin-bottom: 0;
}

/* Mobile and Tablet */
@media screen and (max-width: 1100px) {
	.details {
		width: 400px;
	}
}

@media screen and (max-width: 950px) {
	.details {
		width: 330px;
	}
}

@media screen and (max-width: 850px) {
	.details {
		width: 300px;
	}
}

@media screen and (max-width: 760px) {
	.details {
		width: 400px;
		margin: 40px 0;
	}
}

@media screen and (max-width: 560px) {
	.details {
		width: 350px;
	}
}

@media screen and (max-width: 480px) {
	.details {
		width: 300px;
		margin: 25px 0;
	}
	.details h2 {
		margin-bottom: 25px;
		font-size: 20px;
	}
	.details .detail h3 {
		font-size: 18px;
	}
	details .detail p {
		font-size: 16px;
	}
}
@media screen and (max-width: 400px) {
	.details {
		width: 280px;
		margin: 25px 0;
	}
}
